openapi: 3.2.0
info:
  title: Payment Initiation International Standing Orders API
  description: OpenAPI for Payment Initiation API Specification
  termsOfService: https://www.openbanking.org.uk/terms
  contact:
    name: Service Desk
    email: ServiceDesk@openbanking.org.uk
  license:
    name: open-licence
    url: https://www.openbanking.org.uk/open-licence
  version: v3.1.0
servers:
- url: https://api.hoaresbank.co.uk/open-banking/v3.1/pisp
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: International Standing Orders
paths:
  /international-standing-order-consents:
    post:
      tags:
      - International Standing Orders
      summary: Create International Standing Order Consents
      operationId: CreateInternationalStandingOrderConsents
      parameters:
      - $ref: '#/components/parameters/x-fapi-financial-id-Param'
      - $ref: '#/components/parameters/x-fapi-customer-last-logged-time-Param'
      - $ref: '#/components/parameters/x-fapi-customer-ip-address-Param'
      - $ref: '#/components/parameters/x-fapi-interaction-id-Param'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/x-idempotency-key'
      - $ref: '#/components/parameters/x-jws-signature-Param'
      - $ref: '#/components/parameters/x-customer-user-agent-Param'
      responses:
        '201':
          $ref: '#/components/responses/201InternationalStandingOrderConsentsCreated'
        '400':
          $ref: '#/components/responses/400ErrorResponse'
        '401':
          $ref: '#/components/responses/401ErrorResponse'
        '403':
          $ref: '#/components/responses/403ErrorResponse'
        '404':
          $ref: '#/components/responses/404ErrorResponse'
        '405':
          $ref: '#/components/responses/405ErrorResponse'
        '406':
          $ref: '#/components/responses/406ErrorResponse'
        '415':
          $ref: '#/components/responses/415ErrorResponse'
        '429':
          $ref: '#/components/responses/429ErrorResponse'
        '500':
          $ref: '#/components/responses/500ErrorResponse'
      security:
      - TPPOAuth2Security:
        - payments
      requestBody:
        $ref: '#/components/requestBodies/OBWriteInternationalStandingOrderConsent2Param'
  /international-standing-order-consents/{ConsentId}:
    get:
      tags:
      - International Standing Orders
      summary: Get International Standing Order Consents
      operationId: GetInternationalStandingOrderConsentsConsentId
      parameters:
      - $ref: '#/components/parameters/ConsentId'
      - $ref: '#/components/parameters/x-fapi-financial-id-Param'
      - $ref: '#/components/parameters/x-fapi-customer-last-logged-time-Param'
      - $ref: '#/components/parameters/x-fapi-customer-ip-address-Param'
      - $ref: '#/components/parameters/x-fapi-interaction-id-Param'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/x-customer-user-agent-Param'
      responses:
        '200':
          $ref: '#/components/responses/200InternationalStandingOrderConsentsConsentIdRead'
        '400':
          $ref: '#/components/responses/400ErrorResponse'
        '401':
          $ref: '#/components/responses/401ErrorResponse'
        '403':
          $ref: '#/components/responses/403ErrorResponse'
        '404':
          $ref: '#/components/responses/404ErrorResponse'
        '405':
          $ref: '#/components/responses/405ErrorResponse'
        '406':
          $ref: '#/components/responses/406ErrorResponse'
        '429':
          $ref: '#/components/responses/429ErrorResponse'
        '500':
          $ref: '#/components/responses/500ErrorResponse'
      security:
      - TPPOAuth2Security:
        - payments
  /international-standing-orders:
    post:
      tags:
      - International Standing Orders
      summary: Create International Standing Orders
      operationId: CreateInternationalStandingOrders
      parameters:
      - $ref: '#/components/parameters/x-fapi-financial-id-Param'
      - $ref: '#/components/parameters/x-fapi-customer-last-logged-time-Param'
      - $ref: '#/components/parameters/x-fapi-customer-ip-address-Param'
      - $ref: '#/components/parameters/x-fapi-interaction-id-Param'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/x-idempotency-key'
      - $ref: '#/components/parameters/x-jws-signature-Param'
      - $ref: '#/components/parameters/x-customer-user-agent-Param'
      responses:
        '201':
          $ref: '#/components/responses/201InternationalStandingOrdersCreated'
        '400':
          $ref: '#/components/responses/400ErrorResponse'
        '401':
          $ref: '#/components/responses/401ErrorResponse'
        '403':
          $ref: '#/components/responses/403ErrorResponse'
        '404':
          $ref: '#/components/responses/404ErrorResponse'
        '405':
          $ref: '#/components/responses/405ErrorResponse'
        '406':
          $ref: '#/components/responses/406ErrorResponse'
        '415':
          $ref: '#/components/responses/415ErrorResponse'
        '429':
          $ref: '#/components/responses/429ErrorResponse'
        '500':
          $ref: '#/components/responses/500ErrorResponse'
      security:
      - PSUOAuth2Security:
        - payments
      requestBody:
        $ref: '#/components/requestBodies/OBWriteInternationalStandingOrder2Param'
  /international-standing-orders/{InternationalStandingOrderPaymentId}:
    get:
      tags:
      - International Standing Orders
      summary: Get International Standing Orders
      operationId: GetInternationalStandingOrdersInternationalStandingOrderPaymentId
      parameters:
      - $ref: '#/components/parameters/InternationalStandingOrderPaymentId'
      - $ref: '#/components/parameters/x-fapi-financial-id-Param'
      - $ref: '#/components/parameters/x-fapi-customer-last-logged-time-Param'
      - $ref: '#/components/parameters/x-fapi-customer-ip-address-Param'
      - $ref: '#/components/parameters/x-fapi-interaction-id-Param'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/x-customer-user-agent-Param'
      responses:
        '200':
          $ref: '#/components/responses/200InternationalStandingOrdersInternationalStandingOrderPaymentIdRead'
        '400':
          $ref: '#/components/responses/400ErrorResponse'
        '401':
          $ref: '#/components/responses/401ErrorResponse'
        '403':
          $ref: '#/components/responses/403ErrorResponse'
        '404':
          $ref: '#/components/responses/404ErrorResponse'
        '405':
          $ref: '#/components/responses/405ErrorResponse'
        '406':
          $ref: '#/components/responses/406ErrorResponse'
        '429':
          $ref: '#/components/responses/429ErrorResponse'
        '500':
          $ref: '#/components/responses/500ErrorResponse'
      security:
      - TPPOAuth2Security:
        - payments
components:
  schemas:
    OBCharge2:
      description: Set of elements used to provide details of a charge for the payment initiation.
      type: object
      properties:
        ChargeBearer:
          $ref: '#/components/schemas/OBChargeBearerType1Code'
        Type:
          $ref: '#/components/schemas/OBExternalPaymentChargeType1Code'
        Amount:
          type: object
          properties:
            Amount:
              $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
            Currency:
              type: string
              pattern: ^[A-Z]{3,3}$
          required:
          - Amount
          - Currency
          additionalProperties: false
          description: Amount of money associated with the charge type.
      required:
      - ChargeBearer
      - Type
      - Amount
      additionalProperties: false
    Links:
      type: object
      description: Links relevant to the payload
      properties:
        Self:
          type: string
          format: uri
        First:
          type: string
          format: uri
        Prev:
          type: string
          format: uri
        Next:
          type: string
          format: uri
        Last:
          type: string
          format: uri
      additionalProperties: false
      required:
      - Self
    OBWriteInternationalStandingOrder2:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBWriteDataInternationalStandingOrder2'
        Risk:
          $ref: '#/components/schemas/OBRisk1'
      required:
      - Data
      - Risk
      additionalProperties: false
    OBRisk1:
      description: The Risk section is sent by the initiating party to the ASPSP. It is used to specify additional details for risk scoring for Payments.
      type: object
      properties:
        PaymentContextCode:
          $ref: '#/components/schemas/OBExternalPaymentContext1Code'
        MerchantCategoryCode:
          description: Category code conform to ISO 18245, related to the type of services or goods the merchant provides for the transaction.
          type: string
          minLength: 3
          maxLength: 4
        MerchantCustomerIdentification:
          description: The unique customer identifier of the PSU with the merchant.
          type: string
          minLength: 1
          maxLength: 70
        DeliveryAddress:
          description: Information that locates and identifies a specific address, as defined by postal services or in free format text.
          type: object
          properties:
            AddressLine:
              items:
                type: string
                minLength: 1
                maxLength: 70
              type: array
              description: Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text.
              minItems: 0
              maxItems: 2
            StreetName:
              description: Name of a street or thoroughfare.
              type: string
              minLength: 1
              maxLength: 70
            BuildingNumber:
              description: Number that identifies the position of a building on a street.
              type: string
              minLength: 1
              maxLength: 16
            PostCode:
              description: Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.
              type: string
              minLength: 1
              maxLength: 16
            TownName:
              description: Name of a built-up area, with defined boundaries, and a local government.
              type: string
              minLength: 1
              maxLength: 35
            CountrySubDivision:
              items:
                type: string
                minLength: 1
                maxLength: 35
              type: array
              description: Identifies a subdivision of a country, for instance state, region, county.
              minItems: 0
              maxItems: 2
            Country:
              description: Nation with its own government, occupying a particular territory.
              type: string
              pattern: ^[A-Z]{2,2}$
          required:
          - TownName
          - Country
          additionalProperties: false
      additionalProperties: false
    OBSupplementaryData1:
      description: Additional information that can not be captured in the structured fields and/or any other specific block.
      type: object
      properties: {}
      additionalProperties: false
    OBBranchAndFinancialInstitutionIdentification6:
      description: 'Party that manages the account on behalf of the account owner, that is manages the registration and booking of entries on the account, calculates balances on the account and provides information about the account.

        This is the servicer of the beneficiary account.'
      type: object
      properties:
        SchemeName:
          $ref: '#/components/schemas/OBExternalFinancialInstitutionIdentification4Code'
        Identification:
          description: Unique and unambiguous identification of the servicing institution.
          type: string
          minLength: 1
          maxLength: 35
        Name:
          description: Name by which an agent is known and which is usually used to identify that agent.
          type: string
          minLength: 1
          maxLength: 140
        PostalAddress:
          $ref: '#/components/schemas/OBPostalAddress6'
      additionalProperties: false
    OBWriteDataInternationalStandingOrderResponse2:
      type: object
      properties:
        InternationalStandingOrderId:
          description: 'OB: Unique identification as assigned by the ASPSP to uniquely identify the international standing order resource.'
          type: string
          minLength: 1
          maxLength: 40
        ConsentId:
          description: 'OB: Unique identification as assigned by the ASPSP to uniquely identify the consent resource.'
          type: string
          minLength: 1
          maxLength: 128
        CreationDateTime:
          description: "Date and time at which the resource was created.\nAll dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
          type: string
          format: date-time
        Status:
          $ref: '#/components/schemas/OBExternalStatus1Code'
        StatusUpdateDateTime:
          description: "Date and time at which the resource status was updated.\nAll dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
          type: string
          format: date-time
        Charges:
          items:
            $ref: '#/components/schemas/OBCharge2'
          type: array
          description: Set of elements used to provide details of a charge for the payment initiation.
        Initiation:
          $ref: '#/components/schemas/OBInternationalStandingOrder2'
        MultiAuthorisation:
          $ref: '#/components/schemas/OBMultiAuthorisation1'
      required:
      - InternationalStandingOrderId
      - ConsentId
      - CreationDateTime
      - Status
      - StatusUpdateDateTime
      - Initiation
      additionalProperties: false
    OBExternalPaymentChargeType1Code:
      description: Charge type, in a coded form.
      type: string
      example:
      - UK.OBIE.CHAPSOut
      - UK.OBIE.BalanceTransferOut
      - UK.OBIE.MoneyTransferOut
      minLength: 1
      maxLength: 40
    OBMultiAuthorisation1:
      description: The multiple authorisation flow response from the ASPSP.
      type: object
      properties:
        Status:
          $ref: '#/components/schemas/OBExternalStatus2Code'
        NumberRequired:
          description: Number of authorisations required for payment order (total required at the start of the multi authorisation journey).
          type: integer
          format: int32
        NumberReceived:
          description: Number of authorisations required for payment order (total required at the start of the multi authorisation journey).
          type: integer
          format: int32
        LastUpdateDateTime:
          description: "Last date and time at the authorisation flow was updated.\nAll dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
          type: string
          format: date-time
        ExpirationDateTime:
          description: "Date and time at which the requested authorisation flow must be completed.\nAll dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
          type: string
          format: date-time
      required:
      - Status
      additionalProperties: false
    Meta:
      title: MetaData
      type: object
      description: Meta Data relevant to the payload
      properties:
        TotalPages:
          type: integer
          format: int32
        FirstAvailableDateTime:
          $ref: '#/components/schemas/ISODateTime'
        LastAvailableDateTime:
          $ref: '#/components/schemas/ISODateTime'
      additionalProperties: false
    OBWriteDataInternationalStandingOrder2:
      type: object
      properties:
        ConsentId:
          description: 'OB: Unique identification as assigned by the ASPSP to uniquely identify the consent resource.'
          type: string
          minLength: 1
          maxLength: 128
        Initiation:
          $ref: '#/components/schemas/OBInternationalStandingOrder2'
      required:
      - ConsentId
      - Initiation
      additionalProperties: false
    OBWriteInternationalStandingOrderConsent2:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBWriteDataInternationalStandingOrderConsent2'
        Risk:
          $ref: '#/components/schemas/OBRisk1'
      required:
      - Data
      - Risk
      additionalProperties: false
    OBError1:
      type: object
      properties:
        ErrorCode:
          description: Low level textual error code, e.g., UK.OBIE.Field.Missing
          type: string
          minLength: 1
          maxLength: 128
        Message:
          description: 'A description of the error that occurred. e.g., ''A mandatory field isn''t supplied'' or ''RequestedExecutionDateTime must be in future''

            OBIE doesn''t standardise this field'
          type: string
          minLength: 1
          maxLength: 500
        Path:
          description: Recommended but optional reference to the JSON Path of the field with error, e.g., Data.Initiation.InstructedAmount.Currency
          type: string
          minLength: 1
          maxLength: 500
        Url:
          description: URL to help remediate the problem, or provide more information, or to API Reference, or help etc
          type: string
      required:
      - ErrorCode
      - Message
      additionalProperties: false
      minProperties: 1
    OBExternalConsentStatus1Code:
      description: Specifies the status of resource in code form.
      type: string
      enum:
      - Authorised
      - AwaitingAuthorisation
      - Consumed
      - Rejected
    OBWriteInternationalStandingOrderConsentResponse2:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBWriteDataInternationalStandingOrderConsentResponse2'
        Risk:
          $ref: '#/components/schemas/OBRisk1'
        Links:
          $ref: '#/components/schemas/Links'
        Meta:
          $ref: '#/components/schemas/Meta'
      required:
      - Data
      - Risk
      - Links
      - Meta
      additionalProperties: false
    OBExternalPurpose1Code1:
      description: 'Specifies the external purpose code in the format of character string with a maximum length of 4 characters.

        The list of valid codes is an external code list published separately.

        External code sets can be downloaded from www.iso20022.org.'
      type: string
      minLength: 1
      maxLength: 4
    OBCashAccountDebtor4:
      description: Provides the details to identify the debtor account.
      type: object
      properties:
        SchemeName:
          $ref: '#/components/schemas/OBExternalAccountIdentification4Code'
        Identification:
          description: Identification assigned by an institution to identify an account. This identification is known by the account owner.
          type: string
          minLength: 1
          maxLength: 256
        Name:
          description: 'Name of the account, as assigned by the account servicing institution.

            Usage: The account name is the name or names of the account owner(s) represented at an account level. The account name is not the product name or the nickname of the account.'
          type: string
          minLength: 1
          maxLength: 70
        SecondaryIdentification:
          description: "This is secondary identification of the account, as assigned by the account servicing institution. \nThis can be used by building societies to additionally identify accounts with a roll number (in addition to a sort code and account number combination)."
          type: string
          minLength: 1
          maxLength: 34
      required:
      - SchemeName
      - Identification
      additionalProperties: false
    OBWriteDataInternationalStandingOrderConsent2:
      type: object
      properties:
        Permission:
          $ref: '#/components/schemas/OBExternalPermissions2Code'
        Initiation:
          $ref: '#/components/schemas/OBInternationalStandingOrder2'
        Authorisation:
          $ref: '#/components/schemas/OBAuthorisation1'
      required:
      - Permission
      - Initiation
      additionalProperties: false
    OBErrorResponse1:
      description: An array of detail error codes, and messages, and URLs to documentation to help remediation.
      type: object
      properties:
        Code:
          description: High level textual error code, to help categorize the errors.
          type: string
          minLength: 1
          maxLength: 40
        Id:
          description: A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.
          type: string
          minLength: 1
          maxLength: 40
        Message:
          description: Brief Error message, e.g., 'There is something wrong with the request parameters provided'
          type: string
          minLength: 1
          maxLength: 500
        Errors:
          items:
            $ref: '#/components/schemas/OBError1'
          type: array
          minItems: 1
      required:
      - Code
      - Message
      - Errors
      additionalProperties: false
    OBAddressTypeCode:
      description: Identifies the nature of the postal address.
      type: string
      enum:
      - Business
      - Correspondence
      - DeliveryTo
      - MailTo
      - POBox
      - Postal
      - Residential
      - Statement
    OBCashAccountCreditor3:
      description: Provides the details to identify the beneficiary account.
      type: object
      properties:
        SchemeName:
          $ref: '#/components/schemas/OBExternalAccountIdentification4Code'
        Identification:
          description: Identification assigned by an institution to identify an account. This identification is known by the account owner.
          type: string
          minLength: 1
          maxLength: 256
        Name:
          description: 'Name of the account, as assigned by the account servicing institution.

            Usage: The account name is the name or names of the account owner(s) represented at an account level. The account name is not the product name or the nickname of the account.

            OB: ASPSPs may carry out name validation for Confirmation of Payee, but it is not mandatory.'
          type: string
          minLength: 1
          maxLength: 70
        SecondaryIdentification:
          description: "This is secondary identification of the account, as assigned by the account servicing institution. \nThis can be used by building societies to additionally identify accounts with a roll number (in addition to a sort code and account number combination)."
          type: string
          minLength: 1
          maxLength: 34
      required:
      - SchemeName
      - Identification
      - Name
      additionalProperties: false
    OBExternalAuthorisation1Code:
      description: Type of authorisation flow requested.
      type: string
      enum:
      - Any
      - Single
    OBExternalPaymentContext1Code:
      description: Specifies the payment context
      type: string
      enum:
      - BillPayment
      - EcommerceGoods
      - EcommerceServices
      - Other
      - PartyToParty
    OBInternationalStandingOrder2:
      description: The Initiation payload is sent by the initiating party to the ASPSP. It is used to request movement of funds from the debtor account to a creditor for an international standing order.
      type: object
      properties:
        Frequency:
          description: "Individual Definitions:\nEvryDay - Every day\nEvryWorkgDay - Every working day\nIntrvlWkDay - An interval specified in weeks (01 to 09), and the day within the week (01 to 07)\nWkInMnthDay - A monthly interval, specifying the week of the month (01 to 05) and day within the week (01 to 07)\nIntrvlMnthDay - An interval specified in months (between 01 to 06, 12, 24), specifying the day within the month (-5 to -1, 1 to 31)\nQtrDay - Quarterly (either ENGLISH, SCOTTISH, or RECEIVED). \nENGLISH = Paid on the 25th March, 24th June, 29th September and 25th December. \nSCOTTISH = Paid on the 2nd February, 15th May, 1st August and 11th November.\nRECEIVED = Paid on the 20th March, 19th June, 24th September and 20th December. \nIndividual Patterns:\nEvryDay (ScheduleCode)\nEvryWorkgDay (ScheduleCode)\nIntrvlWkDay:IntervalInWeeks:DayInWeek (ScheduleCode + IntervalInWeeks + DayInWeek)\nWkInMnthDay:WeekInMonth:DayInWeek (ScheduleCode + WeekInMonth + DayInWeek)\nIntrvlMnthDay:IntervalInMonths:DayInMonth (ScheduleCode + IntervalInMonths + DayInMonth)\nQtrDay: + either (ENGLISH, SCOTTISH or RECEIVED) ScheduleCode + QuarterDay\nThe regular expression for this element combines five smaller versions for each permitted pattern. To aid legibility - the components are presented individually here:\nEvryDay\nEvryWorkgDay\nIntrvlWkDay:0[1-9]:0[1-7]\nWkInMnthDay:0[1-5]:0[1-7]\nIntrvlMnthDay:(0[1-6]|12|24):(-0[1-5]|0[1-9]|[12][0-9]|3[01])\nQtrDay:(ENGLISH|SCOTTISH|RECEIVED)\nFull Regular Expression:\n^(EvryDay)$|^(EvryWorkgDay)$|^(IntrvlWkDay:0[1-9]:0[1-7])$|^(WkInMnthDay:0[1-5]:0[1-7])$|^(IntrvlMnthDay:(0[1-6]|12|24):(-0[1-5]|0[1-9]|[12][0-9]|3[01]))$|^(QtrDay:(ENGLISH|SCOTTISH|RECEIVED))$"
          type: string
          minLength: 1
          maxLength: 35
          pattern: ^(EvryDay)$|^(EvryWorkgDay)$|^(IntrvlWkDay:0[1-9]:0[1-7])$|^(WkInMnthDay:0[1-5]:0[1-7])$|^(IntrvlMnthDay:(0[1-6]|12|24):(-0[1-5]|0[1-9]|[12][0-9]|3[01]))$|^(QtrDay:(ENGLISH|SCOTTISH|RECEIVED))$
        Reference:
          description: 'Unique reference, as assigned by the creditor, to unambiguously refer to the payment transaction.

            Usage: If available, the initiating party should provide this reference in the structured remittance information, to enable reconciliation by the creditor upon receipt of the amount of money.

            If the business context requires the use of a creditor reference or a payment remit identification, and only one identifier can be passed through the end-to-end chain, the creditor''s reference or payment remittance identification should be quoted in the end-to-end transaction identification.'
          type: string
          minLength: 1
          maxLength: 35
        NumberOfPayments:
          description: Number of the payments that will be made in completing this frequency sequence including any executed since the sequence start date.
          type: string
          minLength: 1
          maxLength: 35
        FirstPaymentDateTime:
          description: "The date on which the first payment for a Standing Order schedule will be made.\nAll dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
          type: string
          format: date-time
        FinalPaymentDateTime:
          description: "The date on which the final payment for a Standing Order schedule will be made.\nAll dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
          type: string
          format: date-time
        Purpose:
          $ref: '#/components/schemas/OBExternalPurpose1Code1'
        ChargeBearer:
          $ref: '#/components/schemas/OBChargeBearerType1Code'
        CurrencyOfTransfer:
          description: Specifies the currency of the to be transferred amount, which is different from the currency of the debtor's account.
          type: string
          pattern: ^[A-Z]{3,3}$
        InstructedAmount:
          type: object
          properties:
            Amount:
              $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
            Currency:
              type: string
              pattern: ^[A-Z]{3,3}$
          required:
          - Amount
          - Currency
          additionalProperties: false
          description: 'Amount of money to be moved between the debtor and creditor, before deduction of charges, expressed in the currency as ordered by the initiating party.

            Usage: This amount has to be transported unchanged through the transaction chain.'
        DebtorAccount:
          $ref: '#/components/schemas/OBCashAccountDebtor4'
        Creditor:
          $ref: '#/components/schemas/OBPartyIdentification43'
        CreditorAgent:
          $ref: '#/components/schemas/OBBranchAndFinancialInstitutionIdentification6'
        CreditorAccount:
          $ref: '#/components/schemas/OBCashAccountCreditor3'
        SupplementaryData:
          $ref: '#/components/schemas/OBSupplementaryData1'
      required:
      - Frequency
      - FirstPaymentDateTime
      - CurrencyOfTransfer
      - InstructedAmount
      - CreditorAccount
      additionalProperties: false
    ISODateTime:
      description: "All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
      type: string
      format: date-time
    OBExternalPermissions2Code:
      description: Specifies the Open Banking service request types.
      type: string
      enum:
      - Create
    OBChargeBearerType1Code:
      description: Specifies which party/parties will bear the charges associated with the processing of the payment transaction.
      type: string
      enum:
      - BorneByCreditor
      - BorneByDebtor
      - FollowingServiceLevel
      - Shared
    OBWriteDataInternationalStandingOrderConsentResponse2:
      type: object
      properties:
        ConsentId:
          description: 'OB: Unique identification as assigned by the ASPSP to uniquely identify the consent resource.'
          type: string
          minLength: 1
          maxLength: 128
        CreationDateTime:
          description: "Date and time at which the resource was created.\nAll dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
          type: string
          format: date-time
        Status:
          $ref: '#/components/schemas/OBExternalConsentStatus1Code'
        StatusUpdateDateTime:
          description: "Date and time at which the resource status was updated.\nAll dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
          type: string
          format: date-time
        Permission:
          $ref: '#/components/schemas/OBExternalPermissions2Code'
        CutOffDateTime:
          description: "Specified cut-off date and time for the payment consent.\nAll dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
          type: string
          format: date-time
        Charges:
          items:
            $ref: '#/components/schemas/OBCharge2'
          type: array
          description: Set of elements used to provide details of a charge for the payment initiation.
        Initiation:
          $ref: '#/components/schemas/OBInternationalStandingOrder2'
        Authorisation:
          $ref: '#/components/schemas/OBAuthorisation1'
      required:
      - ConsentId
      - CreationDateTime
      - Status
      - StatusUpdateDateTime
      - Permission
      - Initiation
      additionalProperties: false
    OBExternalStatus2Code:
      description: Specifies the status of the authorisation flow in code form.
      type: string
      enum:
      - Authorised
      - AwaitingFurtherAuthorisation
      - Rejected
    OBExternalAccountIdentification4Code:
      description: Name of the identification scheme, in a coded form as published in an external list.
      type: string
      example:
      - UK.OBIE.BBAN
      - UK.OBIE.IBAN
      - UK.OBIE.PAN
      - UK.OBIE.Paym
      - UK.OBIE.SortCodeAccountNumber
      minLength: 1
      maxLength: 40
    OBWriteInternationalStandingOrderResponse2:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBWriteDataInternationalStandingOrderResponse2'
        Links:
          $ref: '#/components/schemas/Links'
        Meta:
          $ref: '#/components/schemas/Meta'
      required:
      - Data
      - Links
      - Meta
      additionalProperties: false
    OBPartyIdentification43:
      description: Party to which an amount of money is due.
      type: object
      properties:
        Name:
          description: Name by which a party is known and which is usually used to identify that party.
          type: string
          minLength: 1
          maxLength: 140
        PostalAddress:
          $ref: '#/components/schemas/OBPostalAddress6'
      additionalProperties: false
    OBExternalStatus1Code:
      description: Specifies the status of resource in code form.
      type: string
      enum:
      - InitiationCompleted
      - InitiationFailed
      - InitiationPending
    OBPostalAddress6:
      description: Information that locates and identifies a specific address, as defined by postal services.
      type: object
      properties:
        AddressType:
          $ref: '#/components/schemas/OBAddressTypeCode'
        Department:
          description: Identification of a division of a large organisation or building.
          type: string
          minLength: 1
          maxLength: 70
        SubDepartment:
          description: Identification of a sub-division of a large organisation or building.
          type: string
          minLength: 1
          maxLength: 70
        StreetName:
          description: Name of a street or thoroughfare.
          type: string
          minLength: 1
          maxLength: 70
        BuildingNumber:
          description: Number that identifies the position of a building on a street.
          type: string
          minLength: 1
          maxLength: 16
        PostCode:
          description: Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.
          type: string
          minLength: 1
          maxLength: 16
        TownName:
          description: Name of a built-up area, with defined boundaries, and a local government.
          type: string
          minLength: 1
          maxLength: 35
        CountrySubDivision:
          description: Identifies a subdivision of a country such as state, region, county.
          type: string
          minLength: 1
          maxLength: 35
        Country:
          description: Nation with its own government.
          type: string
          pattern: ^[A-Z]{2,2}$
        AddressLine:
          items:
            type: string
            minLength: 1
            maxLength: 70
          type: array
          description: Information that locates and identifies a specific address, as defined by postal services, presented in free format text.
          minItems: 0
          maxItems: 7
      additionalProperties: false
    OBActiveCurrencyAndAmount_SimpleType:
      description: A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.
      type: string
      pattern: ^\d{1,13}\.\d{1,5}$
    OBAuthorisation1:
      description: The authorisation type request from the TPP.
      type: object
      properties:
        AuthorisationType:
          $ref: '#/components/schemas/OBExternalAuthorisation1Code'
        CompletionDateTime:
          description: "Date and time at which the requested authorisation flow must be completed.\nAll dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
          type: string
          format: date-time
      required:
      - AuthorisationType
      additionalProperties: false
    OBExternalFinancialInstitutionIdentification4Code:
      description: Name of the identification scheme, in a coded form as published in an external list.
      type: string
      example:
      - UK.OBIE.BICFI
      minLength: 1
      maxLength: 40
  responses:
    201InternationalStandingOrderConsentsCreated:
      description: International Standing Order Consents Created
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBWriteInternationalStandingOrderConsentResponse2'
    401ErrorResponse:
      description: Unauthorized
    200InternationalStandingOrderConsentsConsentIdRead:
      description: International Standing Order Consents Read
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBWriteInternationalStandingOrderConsentResponse2'
    415ErrorResponse:
      description: Unsupported Media Type
    429ErrorResponse:
      description: Too Many Requests
      headers:
        Retry-After:
          description: Number in seconds to wait
          schema:
            type: integer
    500ErrorResponse:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBErrorResponse1'
    405ErrorResponse:
      description: Method Not Allowed
    400ErrorResponse:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBErrorResponse1'
    201InternationalStandingOrdersCreated:
      description: International Standing Orders Created
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBWriteInternationalStandingOrderResponse2'
    200InternationalStandingOrdersInternationalStandingOrderPaymentIdRead:
      description: International Standing Orders Read
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBWriteInternationalStandingOrderResponse2'
    406ErrorResponse:
      description: Not Acceptable
    404ErrorResponse:
      description: Not found
    403ErrorResponse:
      description: Forbidden
  requestBodies:
    OBWriteInternationalStandingOrder2Param:
      description: Default
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBWriteInternationalStandingOrder2'
      required: true
    OBWriteInternationalStandingOrderConsent2Param:
      description: Default
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBWriteInternationalStandingOrderConsent2'
      required: true
  parameters:
    x-jws-signature-Param:
      in: header
      name: x-jws-signature
      required: true
      description: A detached JWS signature of the body of the payload.
      schema:
        type: string
    x-idempotency-key:
      name: x-idempotency-key
      in: header
      description: Every request will be processed only once per x-idempotency-key.  The Idempotency Key will be valid for 24 hours.
      required: true
      schema:
        type: string
        pattern: ^(?!\s)(.*)(\S)$
        maxLength: 40
    x-fapi-customer-ip-address-Param:
      in: header
      name: x-fapi-customer-ip-address
      required: false
      description: The PSU's IP address if the PSU is currently logged in with the TPP.
      schema:
        type: string
    x-fapi-interaction-id-Param:
      in: header
      name: x-fapi-interaction-id
      required: false
      description: An RFC4122 UID used as a correlation id.
      schema:
        type: string
    ConsentId:
      name: ConsentId
      in: path
      description: ConsentId
      required: true
      schema:
        type: string
    x-fapi-financial-id-Param:
      in: header
      name: x-fapi-financial-id
      required: true
      description: The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.
      schema:
        type: string
    AuthorizationParam:
      in: header
      name: Authorization
      required: true
      description: An Authorisation Token as per https://tools.ietf.org/html/rfc6750
      schema:
        type: string
    x-fapi-customer-last-logged-time-Param:
      in: header
      name: x-fapi-customer-last-logged-time
      required: false
      description: "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: \nSun, 10 Sep 2017 19:43:31 UTC"
      schema:
        type: string
        pattern: ^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$
    x-customer-user-agent-Param:
      in: header
      name: x-customer-user-agent
      description: Indicates the user-agent that the PSU is using.
      required: false
      schema:
        type: string
    InternationalStandingOrderPaymentId:
      name: InternationalStandingOrderPaymentId
      in: path
      description: InternationalStandingOrderPaymentId
      required: true
      schema:
        type: string
  securitySchemes:
    PSUOAuth2Security:
      type: oauth2
      description: OAuth flow, it is required when the PSU needs to perform SCA with the ASPSP when a TPP wants to access an ASPSP resource owned by the PSU
      flows:
        authorizationCode:
          authorizationUrl: https://authserver.example/authorization
          tokenUrl: https://authserver.example/token
          scopes:
            payments: Generic payment scope
    TPPOAuth2Security:
      type: oauth2
      description: TPP client credential authorisation flow with the ASPSP
      flows:
        clientCredentials:
          tokenUrl: https://authserver.example/token
          scopes:
            payments: Generic payment scope
